.mb_container {
  background-color: #fff;
}
.mb_nav {
  width: 100%;
  height: 38px;
  background: linear-gradient(#ffffff, #ebebeb);
  border: 1px solid #ebebeb;
}
.mb_nav li {
  float: left;
  padding-left: 10px;
  line-height: 38px;
}
.mb_nav li a {
  font-size: 14px;
  color: #000;
}
.title {
  width: 100%;
  height: 38px;
  background: linear-gradient(#ffffff, #ebebeb);
  border: 1px solid #ccc;
  font-size: 14px;
  color: #874604;
  line-height: 38px;
  font-weight: bold;
  padding-left: 10px;
}
.brand li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.brand li:nth-child(1) .span1 {
  background-color: red;
}
.brand li:nth-child(2) .span1 {
  background-color: yellow;
}
.brand li:nth-child(3) .span1 {
  background-color: yellowgreen;
}
.brand .div1 {
  float: left;
  width: 20px;
  height: 100%;
}
.brand .div1 .span1 {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.brand .rit {
  padding-left: 10px;
  overflow: hidden;
}
.brand .rit .p1 {
  color: #000;
}
.brand .rit .p2 {
  color: #999;
  margin-top: 3px;
  font-size: 14px;
}
.title1 {
  width: 100%;
  height: 38px;
  background: linear-gradient(#ffffff, #ebebeb);
  border: 1px solid #ccc;
  font-size: 14px;
  color: #874604;
  line-height: 38px;
  font-weight: bold;
  padding-left: 10px;
}
.pro_list li {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
  height: 100%;
}
.pro_list li .pic1 {
  float: left;
  width: 110px;
}
.pro_list li .pic1 img {
  width: 100px;
  height: 100px;
}
.pro_list li .info1 {
  overflow: hidden;
}
.pro_list li .info1 .tit {
  color: #333333;
  line-height: 22px;
  min-height: 44px;
  word-break: break-all;
  font-size: 14px;
}
.pro_list li .info1 .prc .jiag {
  font-size: 18px;
  color: #ea3900;
  vertical-align: bottom;
  float: left;
}
.pro_list li .info1 .prc .wjx {
  float: right;
  color: #F00;
  width: 90px;
  font-size: 18px;
}
.pro_list li .info1 .other1 span {
  color: #a1a1a1;
  font-size: 12px;
}
.title2 {
  width: 100%;
  height: 38px;
  background: linear-gradient(#ffffff, #ebebeb);
  border: 1px solid #ccc;
  font-size: 14px;
  color: #874604;
  line-height: 38px;
  font-weight: bold;
  padding-left: 10px;
}
.pinlunlst li {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
}
.pinlunlst li .tp {
  margin-bottom: 10px;
}
.pinlunlst li .tp .imgs {
  float: left;
  margin-right: 10px;
  width: 110px;
}
.pinlunlst li .tp .imgs img {
  width: 100px;
  height: 100px;
}
.pinlunlst li .tp .tit5 {
  color: #999999;
  line-height: 22px;
  font-size: 14px;
  word-break: break-all;
}
.pinlunlst li .comment {
  background: #f8f8f8;
  padding: 10px;
  border: 1px solid #e7e7e7;
  position: relative;
}
.pinlunlst li .comment .midname {
  color: #4f6900;
}
.pinlunlst li .comment .midname .users {
  font-size: 12px;
}
.pinlunlst li .comment .midname .wjx2 {
  width: 90px;
  color: #F00;
}
.pinlunlst li .comment .midname i {
  color: #999999;
  float: right;
  font-style: normal;
  font-size: 14px;
}
.pinlunlst li .comment .bottomcomt {
  color: #000000;
  margin-top: 10px;
  line-height: 22px;
  font-size: 15px;
  word-break: break-all;
}
