.mb_more {
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 10px;
}
.mb_more a {
  font-size: 13px;
  display: block;
  color: #000;
  line-height: 30px;
  text-align: center;
}
